html{  
    box-sizing: border-box;/*create border box sizing for all elements*/

}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body{   /*create universal rules for all elements*/
    font-family: 'Times New Roman', 'Verdana', serif;
    font-size: 18px;
    background: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
        
}  

.odin-home{ /*create slightly darker container box */
    padding-bottom: 5px;
    margin-top: -10px; /*align header closer to the top of the page */
    background: rgba(128, 128, 128, 0.094);
    
}

.title, /*used in both the home page and recipe pages */
.sub-title
.centered {
    text-align: center;
}


.sub-title{
    padding-bottom: 20px;
    font-size: 18px;
}

.highlight{         /* style for highlighting and underlining */
    background-color: #ffff00;
    text-decoration: underline;
}

.links-list {
    list-style: none; /*put the child items of 'ul' into a horizontal line using flex */
    display: flex;
    justify-content: center; /*center child items in the center */
    font-weight: bold;
    gap: 20px;
    
}


.links-list a{  /*create clickable box where link is at with color */
    background-color: rgba(255, 0, 93, 0.423);
    padding: 1em 2em;
}

.links-list a:hover{ /*create pseudo-class selector to style link when user
    hovers */
    background-color: rgba(105, 12, 12, 0.618);
    color: wheat;
}

/*center images mainly used on recipe pages */
.centered-figure{
    text-align: center;

}

.centered-figure img{ /* for image responsiveness */
    max-width: 100%;
}

